/* Header CSSS */
.header {
  text-decoration: none;
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mdl-layout__drawer-button {
  background: none !important;
}

.nav-item:hover {background-color: rgb(41, 39, 39);;}

/* Landing Page CSS */
.landing-grid {
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 140px;
  padding-top: 5em;
}

.avatar-img {
  border-radius: 50%;
  height: 300px;
  margin: 5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* border: solid rgb(41, 39, 39); */
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 5vw;
  /* font-weight: bold; */
  color: white;
  text-align: center;
}

.banner-text h2 {
  color: white;
  text-align: center;
  font-size: 3vw;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  text-align: center;
}

.social-links a {
  color: white;
  font-size: 5vw;
  padding: 8px;
}

/* Projects Page CSS */
.content {
  background: rgb(41, 39, 39);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.flex-box {
  width: 95%;
  height: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  
}

/* About Page CSS */
.about-body {
  margin: auto;
  overflow: auto;
  background: rgb(41, 39, 39);
  position: fixed;
  width: 100%;
  height: 90%;
  justify-content: center;
  /* margin-top: 56px; */
  padding-top: 4em;
  padding-bottom: 200px;
}

.about-grid {
  width: 80%;
  justify-content: center;
}

.about-left-col {
  background: white;
  border-radius: 10px;
  padding: 1em;
  /* min-width: 320px; */
}

.about-list i {
  font-size: 3rem;
  padding-right: 1rem;
  color: #833fb2;
  
}

.about-list li {
  padding: 2px;
  text-overflow: ellipsis;
}

.about-right-col {
  font-size: 20px;
  background: white;
  border-radius: 10px;
  padding: 1em;
}

.about-right-col p {
  color: grey;
}

.about-avatar-img {
  border-radius: 50%;
  height: 16em;
}

@media (max-width: 768px) {
  .horizontal-nav{
    display: none !important;
  }
}

@media (min-width: 769px) {
    .mdl-layout__drawer-button {
        display: none !important;
    }

    /* .mdl-layout__header-row {
      padding-left: 16px !important;
  } */
    
}